body {
   margin: 0;
   padding: 0;
   background: url('../js/assets/images/web/brick_wall.jpg') repeat;
}

canvas {
   margin: 68px 371px;
   position: absolute;
   /* top: px; */

}

#tv {
   position: absolute;
   left: 290px;
   z-index: 1;
}

#desk {
   width: 100vw;
   height: 280px;
   background-image: url('../js/assets/images/web/wood.jpg');
   position: absolute;
   bottom: 0px;
}

#poster {
   width: 400px;
   position: absolute;
   top: 90px;
   left: 30px;
}

#poster2 {
   width: 400px;
   position: absolute;
   top: 30px;
   right: 30px;
}

#n64 {
   width: 900px;
   position: absolute;
   bottom: 10px;
   z-index: 2;
   left: -120px;
}

#glare {
   position: absolute;
   left: 410px;
   top: 90px;
   z-index: 2;
   opacity: .3;
}
